:root {
	--pixelperfect-font-sans: Arial, Tahoma, sans-serif;
	--pixelperfect-font-mono: "Terminus (TTF) for Windows", Consolas, monospace;
	--pixelperfect-font-mono-size: 12px;
	--pixelperfect-font-mono-size-with-styling: 14px;

	/* Shadow chrome framework */
	--paper-input-container-shared-input-style_-_font-family: var(--pixelperfect-font-sans) !important;
	--paper-font-common-base_-_font-family: var(--pixelperfect-font-sans) !important;
}

/* root as solution without !important */
:root body:not(#-blink-dev-tools) :not([class*="icon-"]):not([class*="fa-"]):not(.fa):not(.icon):not(.glyph):not(.ui-icon):not(.material-icons):not(.v-icon):not(.glyphicons):not(.mce-ico):not([class*="dashicons-"]):not(.dashicons):not([class*="cm-"]):not(.lg-icon):not([class*="ti-"]):not([class*="ms-Icon--"]):not(.rouble):not(.ruble):not(.font-fontello):not(.mdi):not([class*="mdi-"]):not(.b-font-regicons):not([class*="ace_"]):not([role="presentation"]):not([aria-hidden="true"]):not([data-v-6574d60e]):not([data-v-fe3d7778]):not([data-v-0775bf40]):not(i)
	/* TODO: remove not(i) */
{
	font-family: var(--pixelperfect-font-sans);
}

html, body:not([id="-blink-dev-tools"]),
h1, h2, h3, h4, h5, h6, input, ::placeholder, ::-webkit-input-placeholder,
/* Recaptcha */
:host(.rc-anchor-checkbox-label)
{
	font-family: var(--pixelperfect-font-sans) !important;
}

b, strong {
	font-weight: 600 !important;
}

:root var, :root pre, :root pre *,
:root code, :root code *,
:root kbd, :root samp,
.sql-highlight span,
[class*="highlight-source-"] *, .highlight *, .w3-code *,
#code_frame2 *, #code_frame *,
.line-gutter-backdrop + table,
:root .text-mono, :root .text-monospace,
/* a.text-mono, p.text-mono, div.text-mono, span.text-mono, pre.text-monospace, */
/* devtools */
/* td.line-content, */
/* uBlock inspect */
#ublock0-epicker .changeFilter > li, #ublock0-epicker aside > section > div:first-child > textarea
{
	font-family: var(--pixelperfect-font-mono) !important;
	font-size: var(--pixelperfect-font-mono-size) !important;
}

/* Recaptcha "I'm not a robot" */
.rc-anchor-checkbox-label {
	font-family: var(--pixelperfect-font-sans) !important;
}

/* Fontello */
.selector__glyph-image {
	font-family: fontello !important;
}

/* Syntax highlighting */
div.syntaxhighlighter a,div.syntaxhighlighter div,div.syntaxhighlighter code,div.syntaxhighlighter table,div.syntaxhighlighter table td,div.syntaxhighlighter table tr,div.syntaxhighlighter table tbody,div.syntaxhighlighter table thead,div.syntaxhighlighter table caption,div.syntaxhighlighter textarea {
	font-family: var(--pixelperfect-font-mono) !important;
	font-size: var(--pixelperfect-font-mono-size) !important;
}

/* Monaco code editor */
.monaco-editor * {
	font-family: var(--pixelperfect-font-mono) !important;
	font-size: var(--pixelperfect-font-mono-size) !important;
}

/* ACE code editor */
.ace_editor {
	font-family: var(--pixelperfect-font-mono) !important;
	font-size: var(--pixelperfect-font-mono-size) !important;
}

div.crayon-syntax * {
	font-family: var(--pixelperfect-font-mono) !important;
	font-size: var(--pixelperfect-font-mono-size) !important;
}

/* Digiseller API docs */
.api_template .title_block {
	font-family: var(--pixelperfect-font-sans) !important;
}
/* Digiseller default store */
#digiseller-body div.digiseller-row .digiseller-top-bar section ul section li a,
#digiseller-body div.digiseller-row .digiseller-top-bar section ul li a,
#digiseller-body div.digiseller-row .digiseller-top-bar section ul section li.digiseller-hmenu-withsub li a,
#digiseller-body div.digiseller-row .digiseller-top-bar.digiseller-side-nav ul li a,
#digiseller-body *,
#digiseller-body .digiseller-reveal-modal *,
#digiseller-body .digiseller-row *,
#digiseller-body .digiseller-reveal-modal input[type="number"],
#digilogo div
{
	font-family: var(--pixelperfect-font-sans) !important;
}

/* Google fix blurry text */
/*#cnt.big {
	transform: none !important;
}*/

/* Google Docs input font */
input.goog-toolbar-combo-button-input {
	font-family: var(--pixelperfect-font-sans) !important;
}

/* Gist Github Code Editor Height Fix */ 
.CodeMirror.cm-s-github-light.CodeMirror-wrap {
	height: 100% !important;
}
/* .CodeMirror.cm-s-github-light */
.CodeMirror .CodeMirror-linenumber {
	font-family: var(--pixelperfect-font-mono) !important;
	font-size: var(--pixelperfect-font-mono-size-with-styling) !important;
}
/* .CodeMirror.cm-s-github-light */
.CodeMirror .CodeMirror-lines span {
	font-size: var(--pixelperfect-font-mono-size-with-styling) !important;
}
.markdown-body code, .markdown-body > .highlight * {
	/*font-size: inherit !important;*/
	font-size: var(--pixelperfect-font-mono-size-with-styling) !important;
}

/* Pastebin */
.csharp .co1 {
	font-style: normal !important;
}


/* Aliexpress */
/*
.product-list .current-price {
  font-style: normal !important;
  font-weight: 700 !important;
}
*/